
* {
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.homeContainer {
  color: var(--onyx);
  background-color: var(--timberwolf);
  min-height: 100vh;
}
