
.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.photoGalleryContainer h1 {
    font-size: 2rem;
    padding: 2rem;
    letter-spacing: 1rem;
    text-align: center;
}
  
.photoGalleryContainer h2 {
    font-size: 1.5rem;
    padding: 2rem;
    text-align: left;
}

.photoGalleryContainer img {
    min-width: 150px;
    max-width: 500px;

    border: 2px solid var(--gray); /* Dark outer border */
    border-radius: 2px; /* Slightly rounded corners */
    padding: 3px; /* Space between the image and the border */
    background-color: var(--onyx); /* Dark background for the padding area */
    position: relative; /* Positioning for pseudo-elements */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
    overflow: hidden; /* Prevents overflow of pseudo-elements */
}