

.photoGalleryContainer h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
}
  
.photoGalleryContainer h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    text-align: center;

    padding: 1rem;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image stack styles */
.image_stack {
    position: relative; /* Ensure images stack correctly */
    width: 300px; /* Set a fixed width for the stack */
    height: 400px; /* Set a fixed height for the stack */
    overflow: hidden; /* Hide overflowing images */
    background-color: var(--timberwolf); /* Set the background color to white */
}

.image_card {
    position: absolute; /* Position images absolutely within the stack */
    width: 100%; /* Make images take the full width of the container */
    height: 100%; /* Make images take the full height of the container */
    display: flex; /* Center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: var(--timberwolf); /* Set the background color to white */
}

.image_card img {
    max-width: 90%; /* Set max width to 100% to fill container */
    max-height: 90%; /* Set max height to 100% to fill container */
    object-fit: contain; /* Ensure the entire image is visible, maintaining aspect ratio */
    box-shadow: -2px 2px 5px var(--onyx), 2px 2px 5px var(--onyx);

    user-select: none; /* Prevent text selection */
    -webkit-user-drag: none; /* Prevent dragging on webkit browsers */
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Optional: dim the background */
    z-index: 1000; /* Ensure modal is above other content */
}

.blurredBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust blur intensity as needed */
    z-index: -1; /* Position it behind the modal content */
}

.modal img {
    max-width: 50vw;
    max-height: 60vh;
    border-radius: 5px; /* optional for rounded corners */
}

.noScroll {
    overflow: hidden;
    height: 100%; /* Optional: Ensure full height is covered */
}
